<%= form_for(@status_negociation) do |f| %>
  <% if @status_negociation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_negociation.errors.count, "error") %> prohibited this status_negociation from being saved:</h2>

      <ul>
      <% @status_negociation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :firstNegociator %><br>
    <%= f.text_field :firstNegociator %>
  </div>
  <div class="field">
    <%= f.label :secondNegociator %><br>
    <%= f.text_field :secondNegociator %>
  </div>
  <div class="field">
    <%= f.label :log %><br>
    <%= f.text_area :log %>
  </div>
  <div class="field">
    <%= f.label :linkProposta %><br>
    <%= f.text_field :linkProposta %>
  </div>
  <div class="field">
    <%= f.label :descriptionNegociation %><br>
    <%= f.text_area :descriptionNegociation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
