<div class="container espacamento-padrao">
  <div class="row">
    <div class="">
      <h2 class="heading-text">Membros</h2>
    </div>
  </div>
</div>


<div class="members-box espacamento-padrao">
  <div class="carousel-members">
    <div><img class="img-responsive" src="<%= asset_path( 'members/Bruno_Helder.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Claudio_Segala.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Cristiane_Naves.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Gabriel_Almeida.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Renan_Reboredo.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Gabriel_Mesquita.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Mateus_Luiz.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Khalil_Carsten.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Vitor_Pontes.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Marcus_Vinicius.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Rafael_Fernandes.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Rebeca_Andrade.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Rodrigo_Chaves.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Vinicius_Almeida.jpg') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Wladimir_Gramacho.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/amanda_Oliveira.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Caroline_Ferreira.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Danilo_Cabrinha.png') %>" alt="" /></div>
    <div><img class="img-responsive" src="<%= asset_path( 'members/Fred.png') %>" alt="" /></div>
  </div>
</div>
