<header class="home">
  <div class="container-fluid">

      <div class="col-md-7 content-center">
        <nav class="nav-top">
          <ul>
            <li role="presentation">
              <a class="quem-somos-botao" href="#">Quem Somos</a>
            </li>
            <li role="presentation">
              <a class="portifolio-botao" href="#">Portifólio</a>
            </li>
            <li role="presentation">
              <a class="membros-botao" href="#">Membros</a>
            </li>
            <li role="presentation">
              <a class="contato-botao" href="#">Contato</a>
            </li>
          </ul>
        </nav>
      </div>

  </div>
  <section class="header-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <h1 class="header-title">Empresa Júnior de Computação</h1>
        </div>
      </div>
      <div class="texto-img-row" class="row">
        <div class="col-md-6 col-xs-12">
          <p class="header-text">
            Nós somos a CJR, Empresa Júnior dos cursos de Bacharelado em Ciência da Computação e Computação-Licenciatura, e temos por objetivo formar empreendedores e profissionais comprometidos e capazes de mudar a sua realidade, através de projetos reais para clientes reais, afim de colocar na prática os conhecimentos teóricos da Computação.
          </p>
        </div>
        <div class="col-md-6 col-xs-12">
          <a href="#home"><img src="<%= asset_path( 'cjr-logo2.svg' ) %>" class="center-block img-responsive logo" width="800px"></a></li>
        </div>
      </div>
    </div>

  </section>
</header>

<section role="who-we-are">
  <%= render "static_site/who_we_are" %>
</section>
<section role="projects">
  <%= render "static_site/projects" %>
</section>
<section role="members">
  <%= render "static_site/members" %>
</section>
<section role="contact">
  <%= render "static_site/contact" %>
</section>
