<section>
  <%= render "welcome/home" %>
</section>
<section id="who_we_are">
  <%= render "static_site/who_we_are" %>
</section>
<section>
  <%= render "static_site/projects" %>
</section>
<section>
  <%= render "static_site/members" %>
</section>
<section>
  <%= render "welcome/contato" %>
</section>
