<h1>CJR</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- SLIDE SHOW ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->


<!-- QUEM SOMOS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<p>whatever...</p>

<p>abismo...abismo</p>

<!-- FERRAMENTAS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<!-- SLIDE DE PROJETOS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<ul>
	<% @projects.each do |p| %>
		<%= p.name %>
	<% end %>
</ul>

<!-- MEMBROS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% var = 0 %>
      <% @members.each do |f| %>
        <% if var == 0 %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= var %>" class="active"></li>
        <% else %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= var %>"></li>
        <% end %>
        <% var += 1 %>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% var = 0 %>
      <% @members.each do |f| %>
        <% if var == 0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
            <center>
              <img onclick="popUpMembers(<%= f.id %>)" src="<%= f.avatar %>" alt="wait..." width="1200" height="350">
                <div class="carousel-caption">
                  <h3><%= f.name %></h3>
                </div>
              </center>
            </div>
        <% var += 1 %>
      <% end %>
    </div>
   
    <!-- controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->
</div>

<!-- FORM DE NEGOCIAÇÃO ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<% @negotiation = Negotiation.new %>

<%= form_for(@negotiation) do |f| %>
  <% if @negotiation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@negotiation.errors.count, "error") %> prohibited this negotiation from being saved:</h2>

      <ul>
      <% @negotiation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :celular %><br>
    <%= f.text_field :celular %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>