<head>
	<script type="text/javascript"> 
		function popUpMembers(id) {
			window.open('/members/' + id, '_member', 'height=400, width=300, status=no, menubar=no, location=no, toolbar=no'); 
		}
	</script>
</head>
<body>
  <h1>CJR</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>

  <!-- SLIDE SHOW ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->


  <!-- QUEM SOMOS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

  <p>whatever...</p>

  <p>abismo...abismo</p>

  <!-- FERRAMENTAS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

  <!-- SLIDE DE PROJETOS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

  <ul>
  	<% @projects.each do |p| %>
  		<%= p.name %>
  	<% end %>
  </ul>

  <!-- MEMBROS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="container">
      <div class="carousel-inner">
        <% @members.each do |f| %>
          <div class="item active">
            <img onclick="popUpMembers(<%= f.id %>)" src="<%= f.avatar %>" alt="..." width="100" height="100">
            <div class="carousel-caption">
              <h3><%= f.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
   
    <!-- controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->

  <!-- FORM DE NEGOCIAÇÃO ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

  <% @negotiation = Negotiation.new %>

  <%= form_for(@negotiation) do |f| %>
    <% if @negotiation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@negotiation.errors.count, "error") %> prohibited this negotiation from being saved:</h2>

        <ul>
        <% @negotiation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :celular %><br>
      <%= f.text_field :celular %>
    </div>
    <div class="field">
      <%= f.label :subject %><br>
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</body>