<p id="notice"><%= notice %></p>

<h1>Listing Negociations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Ddd</th>
      <th>Celular</th>
      <th>Subject</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @negociations.each do |negociation| %>
      <tr>
        <td><%= negociation.name %></td>
        <td><%= negociation.email %></td>
        <td><%= negociation.DDD %></td>
        <td><%= negociation.celular %></td>
        <td><%= negociation.subject %></td>
        <td><%= negociation.description %></td>
        <td><%= link_to 'Show', negociation %></td>
        <td><%= link_to 'Edit', edit_negociation_path(negociation) %></td>
        <td><%= link_to 'Destroy', negociation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Negociation', new_negociation_path %>
