<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @negociation.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @negociation.email %>
</p>

<p>
  <strong>Ddd:</strong>
  <%= @negociation.DDD %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @negociation.celular %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @negociation.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @negociation.description %>
</p>

<%= link_to 'Edit', edit_negociation_path(@negociation) %> |
<%= link_to 'Back', negociations_path %>
