<p id="notice"><%= notice %></p>

<h1>Listing Negotiations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Subject</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @negotiations.each do |negotiation| %>
      <tr>
        <td><%= negotiation.name %></td>
        <td><%= negotiation.email %></td>
        <td><%= negotiation.celular %></td>
        <td><%= negotiation.subject %></td>
        <td><%= negotiation.description %></td>
        <td><%= link_to 'Show', negotiation %></td>
        <td><%= link_to 'Edit', edit_negotiation_path(negotiation) %></td>
        <td><%= link_to 'Destroy', negotiation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Negotiation', new_negotiation_path %>
